@media screen and (max-aspect-ratio: 20/9) {

  .circular-text {
    margin: 0 auto;
    border-radius: 50%;
    width: 100%;
    position: relative;
    height: 100%;
    font-weight: 500;
    color: #fff;
    text-align: center;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    cursor: default;
  }

  .circular-text span {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: calc(45 / 1920 * 100vw);
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  }

}

@media screen and (min-aspect-ratio: 20/9) {

  .circular-text {
    margin: 0 auto;
    border-radius: 50%;
    width: 100%;
    position: relative;
    height: 100%;
    font-weight: 500;
    color: #fff;
    text-align: center;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    cursor: default;
  }

  .circular-text span {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: calc(45 / 3440 * 100vw);
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  }

}